/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
}
body {
  font-family: "Ubuntu", sans-serif;
}

.header {
  padding: 20px;
  border-bottom: 1px solid #000;
}

.header__title {
  font-size: 2em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.form__section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.form__section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 10px;
}

.form__input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
  position: relative;
}

.input-label {
  position: absolute;
  z-index: 10;
  left: 10px;
  transition: 0.5s;
  background-color: #fff;
  color: #606060;
  cursor: inherit;
}

.form__input {
  border: 2px solid #00ccff;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0 0 2px #00ccff;
}

.form__select {
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 12px;
}

.select-currencyFrom {
  border-color: #0066cc;
  box-shadow: 0 0 3px #0066cc;
}

.select-currencyTo {
  border-color: #cc0000;
  box-shadow: 0 0 3px #cc0000;
}

.input-course {
  border-color: #ff0000;
  box-shadow: 0 0 3px #ff0000;
}

.input-course-label,
.input-result-label {
  top: -8px;
  font-size: 0.8em;
}

.input-result {
  border-color: #ff9900;
  box-shadow: 0 0 3px #ff9900;
  cursor: default;
}

.input-result-label {
  cursor: default;
}

.button-container {
  flex-direction: row;
  justify-content: end;
  gap: 20px;
}

.form__button {
  transition: 0.3s;
}

.button-submit {
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0 0 5px currentColor;
  border-color: #cccc00;
  box-shadow: 0 0 3px #cccc00;
}
.button-submit:hover {
  background-color: #ffff00;
  color: #fff;
}

.button-reset {
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0 0 5px currentColor;
  border-color: #660066;
  box-shadow: 0 0 3px #660066;
}
.button-reset:hover {
  background-color: #cc00cc;
  color: #fff;
}

@media (max-width: 350px) {
  .form__section-container {
    gap: 20px;
  }
  .form__section {
    gap: 0;
    justify-content: center;
  }
  .form__input-container {
    width: -moz-fit-content;
    width: fit-content;
  }
  .form__input {
    width: 100%;
  }
  .button-container {
    flex-direction: column;
    gap: 10px;
  }
}