// Черный и белый цвета
$color-black: #000;
$color-white: #fff;
// Серые цвета
$color-gray-light: #d0d0d0;
$color-gray-dark: #606060;
// Зеленые цвета
$color-green-light: #00cc00;
$color-green-dark: #006600;
// Синие цвета
$color-blue-light: #00ccff;
$color-blue-dark: #0066cc;
// Красные цвета
$color-red-light: #ff0000;
$color-red-dark: #cc0000;
// Желтые цвета
$color-yellow-light: #ffff00;
$color-yellow-dark: #cccc00;
// Оранжевые цвета
$color-orange-light: #ff9900;
$color-orange-dark: #cc6600;
// Фиолетовые цвета
$color-violet-light: #cc00cc;
$color-violet-dark: #660066;