// Черный и белый цвета
$color-black: #000;
$color-white: #fff;
// Серые цвета
$color-gray-light: #d0d0d0;
$color-gray-dark: #606060;
// Зеленые цвета
$color-grenn-light: #00cc00;
$color-grenn-dark: #006600;
// Синие цвета
$color-blue-light: #00ccff;
$color-blue-dark: #0066cc;
// Красные цвета
$color-red-light: #ff0000;
$color-red-dark: #cc0000;